<?xml version="1.0"?>
<config>
    <modules>
        <JosephLeedy_CustomFees>
            <version>0.1.0.0</version>
        </JosephLeedy_CustomFees>
    </modules>
    <global>
        <blocks>
            <custom_fees>
                <class>JosephLeedy_CustomFees_Block</class>
            </custom_fees>
        </blocks>
        <helpers>
            <custom_fees>
                <class>JosephLeedy_CustomFees_Helper</class>
            </custom_fees>
        </helpers>
        <models>
            <custom_fees>
                <class>JosephLeedy_CustomFees_Model</class>
            </custom_fees>
            <sales>
                <rewrite>
                    <quote_address_total_collector>JosephLeedy_CustomFees_Rewrite_Mage_Sales_Quote_Address_Total_Collector</quote_address_total_collector>
                </rewrite>
            </sales>
        </models>
        <sales>
            <quote>
                <totals>
                    <custom_fees>
                        <class>custom_fees/total_quote_customFees</class>
                        <before>shipping</before>
                        <after>subtotal</after>
                    </custom_fees>
                </totals>
            </quote>
        </sales>
    </global>
    <default>
        <sales>
            <totals_sort>
                <custom_fees>15</custom_fees>
            </totals_sort>
            <custom_order_fees>
                <custom_fees>a:1:{s:18:"_1727736651123_123";a:3:{s:4:"code";s:11:"example_fee";s:5:"title";s:11:"Example Fee";s:5:"value";s:4:"0.00";}}</custom_fees>
            </custom_order_fees>
        </sales>
    </default>
</config>